<h1>Listing fees</h1>

<table>
  <thead>
    <tr>
      <th>Cart</th>
      <th>Title</th>
      <th>Start at</th>
      <th>End</th>
      <th>Fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fees.each do |fee| %>
      <tr>
        <td><%= fee.cart %></td>
        <td><%= fee.title %></td>
        <td><%= fee.start_at %></td>
        <td><%= fee.end %></td>
        <td><%= fee.fee %></td>
        <td><%= link_to 'Show', fee %></td>
        <td><%= link_to 'Edit', edit_fee_path(fee) %></td>
        <td><%= link_to 'Destroy', fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fee', new_fee_path %>
